:root {
  --color-accent: oklch(88.928% 0.06371 226.042);
  --color-accent-fallback: #e6d5f5; /* Orange fallback for older browsers */
}

html {
  accent-color: var(--color-accent-fallback);
  accent-color: var(--color-accent);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  padding: 2rem;
}

nav {
    display: flex;
    margin-bottom: 2rem;
    border-bottom: 1px solid #d1d5db;
}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

nav a.current {
    border-bottom: 0.4em solid #868b94;
    padding-bottom: 0.1em; 
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent-fallback);
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
}

.profile-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
}