:root {
  --color-accent: #3bc3db;
  --color-accent-light: #b7e7f0;
}

html {
  accent-color: var(--color-accent);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  padding: 2rem;
}

nav {
    display: flex;
    margin-bottom: 2rem;
    border-bottom: 1px solid #d1d5db;
}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

nav a.current {
    border-bottom: 0.4em solid #6b7280;
    padding-bottom: 0.1em;
    font-weight: 700;
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
    background-color: var(--color-accent-light);
}

.profile-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
}

input,
textarea,
button,
select {
    font: inherit;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: start;
}

button {
    grid-column: 1 / -1;
    padding: 1em 2em;
    background-color: #c2c9d6;
    color: black;
    border: 2px solid black; 
    border-radius: 0.25em;
    cursor: pointer;
}

input,
textarea {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
}