:root {
  --color-accent: #3bc3db;
  --color-accent-light: #b7e7f0;
}

html {
  accent-color: var(--color-accent);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  padding: 2rem;
}

nav {
    display: flex;
    margin-bottom: 2rem;
    border-bottom: 1px solid #d1d5db;
}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

/* Gray Border Under Pages */
nav a.current {
    border-bottom: 0.4em solid #6b7280;
    padding-bottom: 0.1em;
    font-weight: 700;
}

/* Blue Border Hovering */
nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
    background-color: var(--color-accent-light);
}

/* Profile Image Reshape */
.profile-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
}

/* Form Typography */
input,
textarea,
button,
select {
    font: inherit;
}

/* Form Layout */
label,
input,
textarea,
select,
button {
    display: block;
}

input,
textarea,
select {
    width: 100%;
    box-sizing: border-box;
}

label {
    margin-block: 1em 0.5em;
}